h3{
	color:blue;
	background-color:red;
}
h1{
	color:yellow;
}
.head1{
	color:black;
}
#head{
	font-size:60px;
}
h1{
	/*background-color:skyblue ;*/
	/*background-color: #dddddd ;*/
	background-color: rgba(11,11,11,.6);
}